<!DOCTYPE html>
<html>
{{> include/head}}
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
    {{> include/main_header}}
    {{> include/left_column}}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                게시판 예제
                <small>일반적인 조회페이지</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 게시판</a></li>
                <li class="active">일반</li>
                <li class="active">조회</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="col-lg-12">
                <!--게시글 영역-->
                <form>
                    <input type="hidden" name="bNo" id="bNo" value="{{board.bno}}" ></input>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <b>제목</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="title" id="title" value="{{board.title}}"  style="border:none" ></input>
                            </h3>
                            <ul class="list-inline pull-right">
                                    <li><b class="box-title">조회수&nbsp;&nbsp;&nbsp;</b> {{board.hit}}</li>
                            </ul>
                        </div>

                        <div class="box-body" style="height: 600px">
                            <textarea id="content" name="content" rows="10" style="resize:none;margin: 0px; width: 449px; height: 574px;">{{board.content}}</textarea>
                        </div>
                        <div class="box-footer">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="/dist/img/default-user-image.jpg" alt="user image">
                                <span class="username">
                                    <input type="text" name="writer" id="writer" value="{{board.writer}}"  style="border:none;"  disabled></input>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <!--버튼 영역-->
                <div>
                    <form role="form" method="post">
                        <!--페이징 정보 유지를 위한 입력 form-->
                        <input type="hidden" name="bno" value="${boardVO.bno}">
                        <input type="hidden" name="page" value="${criteria.page}">
                        <input type="hidden" name="perPageNum" value="${criteria.perPageNum}">
                        <input type="hidden" name="searchType" value="${criteria.searchType}">
                        <input type="hidden" name="keyword" value="${criteria.keyword}">
                    </form>

                    <button type="submit" class="btn btn-warning modBtn" id="btn_update"><i class="fa fa-edit"></i> 수정</button>
                    <button type="submit" class="btn btn-danger delBtn" id="btn_delete"><i class="fa fa-trash"></i> 삭제</button>
                    <button type="submit" class="btn btn-primary listBtn pull-right" id="btn_list"><i class="fa fa-list"></i> 목록</button>
                </div>
                <br/>
                <!--댓글 등록 영역-->
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <a href="#" class="link-black text-lg"><i class="fa fa-pencil"></i> 댓글작성</a>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <div class="form-group margin-bottom-none">
                                <div class="col-sm-8">
                                    <input class="form-control input-sm" id="newReplyText" type="text" placeholder="댓글 입력...">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control input-sm" id="newReplyWriter" type="text" placeholder="작성자">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary btn-sm btn-block replyAddBtn"><i class="fa fa-save"></i> 저장</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--댓글 목록 영역-->
                <div class="box box-success collapsed-box">
                    <div class="box-header with-border">
                        <a href="" class="link-black text-lg"><i class="fa fa-comments-o margin-r-5 replyCount"></i> </a>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!--댓글 목록-->
                    <div class="box-body repliesDiv">
                    </div>
                    <!--댓글 페이징-->
                    <div class="box-footer">
                        <div class="text-center">
                            <ul class="pagination pagination-sm no-margin">

                            </ul>
                        </div>
                    </div>
                </div>
                <!--댓글 수정을 위한 modal 영역-->
                <div class="modal fade" id="modModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body" data-rno>
                                <p><input type="text" id="replytext" class="form-control"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary modalModBtn">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--댓글 삭제를 위한 modal 영역-->
                <div class="modal fade" id="delModal">
                    <form>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body" data-rno>
                                    <p>댓글을 삭제하시겠습니까?</p>
                                    <p><input type="password" id="password" class="form-control" placeholder="회원비밀번호를 입력해주세요"></p>
                                    <button type="button" class="btn btn-warning">비밀번호 확인</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-primary modalDelBtn">삭제</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </section>
    </div>
    {{> include/main_footer}}
</div>
{{> include/plugin_js}}
<script src="/js/board_script.js"></script>
</body>
</html>