<!DOCTYPE html>
<html>
{{> include/head}}
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
    {{> include/main_header}}
    {{> include/left_column}}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                게시판 예제
                <small>일반적인 목록페이지</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 게시판</a></li>
                <li class="active">일반</li>
                <li class="active">전체목록</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <form name="form_list" id="form_list" onsubmit="return false">
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">전체 데이터 <b> {{listCount}} </b> 건</h3>
                        </div>
                        <div class="pull-right">
                            <a href="/board/write" class="btn btn-success btn-icon-split">
                                <span class="text">글쓰기</span>
                            </a>
                        </div>
                        <div class="box-body">
                        <!--게시글 목록 영역-->
                            <div>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th style="width: 10px">NO</th>
                                        <th>제목</th>
                                        <th style="width: 100px">작성자</th>
                                        <th style="width: 150px">작성시간</th>
                                        <th style="width: 50px">조회</th>
                                    </tr>
                                        {{#boardList}}
                                        <tr>
                                            <td>{{bNo}}</td>
                                            <td>
                                                <a href="/board/detail/{{bNo}}">{{title}}</a>
                                            </td>
                                            <td>{{writer}}</td>
                                            <td>{{createdDate}}</td>
                                            <td><span class="badge bg-aqua">{{hit}}</span></td>
                                        </tr>
                                        {{/boardList}}
                                    </tbody>
                                </table>
                            </div>
                            <!--페이징 처리 영역-->
                            <div class="text-center">
                                <ul class="pagination">
                                </ul>
                            </div>
                        </div>
                        <div class="box-footer">
                            <br/>
                            <div class="form-group col-sm-2">
                                <select class="form-control" name="searchType" id="searchType">
                                    <option value="">선택</option>
                                    <option value="">제목</option>
                                    <option value="">내용</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="keyword" id="keywordInput" value="${criteria.keyword}" placeholder="검색어">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-flat" id="searchBtn">
                                            <i class="fa fa-search"></i> 검색
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page_num pa_t10 paginated" id="pagenation">
                        <input type="hidden" value="{{currentPage}}" name="currentPage" id="currentPage" />
                        <input type="hidden" value="{{totalPages}}" name="totalPages" id="totalPages" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    {{> include/main_footer}}
</div>
{{> include/plugin_js}}
<script src="/plugins/handlebars/handlebars-1.0.rc.1.min.js"></script>
<script src="/js/board_script.js"></script>
</body>
</html>